{{#each channelNames as |channel|}}
    <div class='vu-channel {{channel}}'>
        <div class='vu-channel-part green'></div>
        <div class='vu-channel-part yellow'></div>
        <div class='vu-channel-part red'></div>
        <div class='vu-channel-part peak'></div>
    </div>
{{/each}}    